## This file lists the Python packages required for the project.
# You can install these packages using pip:
# pip install -r requirements.txt
# Basic packages
# Core packages with version pins
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.6.1
catboost==1.2.3
xgboost==2.0.3
Flask==2.3.3
dill==0.3.8
gunicorn==21.2.0
#-e .

